*{
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
body {
    /* background-color: #222222; */
    background: url(fondo1.jpg) fixed;
}
.header {
    position: fixed;
}
.header__ul {
    background-color: #333333;
    height: 80px;
}

.header__ul a {
    text-decoration: none;
    font-size: 15px;
    color: #3bba9c;
    font-family:  'Quicksand', sans-serif;
    padding-top: 10px;
    float: right;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    height: 30px;
    margin: 20px 5px 20px 5px;
    transition: .5s ;
}
.header__ul a:hover{
    background-color: #3bba9c;
    color: white;
    transition: .5s;
}
.card {
    height: 740px;
    background-color: #333333;
    width: 1080px;
    margin: 20px auto;
    box-shadow: -10px 10px 50px black;
}
.div__img img {
    width: 400px;
    object-fit: cover;
    margin-top: 50px;
    
}
.card__h2 {
    font-family: 'Ramabhadra', sans-serif;
    color: white;
    font-size: 50px;
    text-align: left;
    padding: 10px 0px 0px 30px;     
}
.card__p {
    color: #3bba9c;
    font-family: 'Quicksand', cursive;
    text-align: left;
    margin-left: 30px;
    
}
.card__description {
    font-family: 'Quicksand';
    color: #c3c3c3;
    width: 300px;
    padding-left: 30px;
    padding-top: 15px;
    text-align: left;
}

.card__divbar{
    background-color: #4d4d4d;
    width: 450px;
    height: 2px;
    margin-left: 30px;
    margin-top: 30px;
}
.card__service__title {
    color: white;
    font-size: 27px;
    font-family: 'Quicksand';
    margin-left: 30px;
    margin-top: 20px;
}
.card__service1-1 {
    display: inline-block;
    width: 200px;
    margin-left: 30px;
    margin-top: 20px;
}
.card__service1-2 {
    display: inline-block;
    width: 200px;
    margin-left: 30px;
    margin-top: 20px;
}
.card__service1-1 i{
    color:#3bba9c;
    margin-bottom: 15px;
    font-size: 23px;
    transition: .5s;
}
.card__service1-1 i:hover{
    color:#c3c3c3;
    transition: .2s;
}
.card__service1-2 i{
    color:#3bba9c;
    margin-bottom: 15px;
    font-size: 23px;
    transition: .5s;
}
.card__service1-2 i:hover{
    color:#c3c3c3;
    transition: .2s;
}
.card__service1-1 h3 {
    color: white;
    font-family: 'Quicksand';
    margin-bottom: 15px;
}
.card__service1-2 h3 {
    color: white;
    font-family: 'Quicksand';
    margin-bottom: 15px;
}
.card__service1-1 p{
    color: #c3c3c3;
    font-family: 'Quicksand';
}
.card__service1-2 p{
    color: #c3c3c3;
    font-family: 'Quicksand';
}
.card__service1-3 {
    display: inline-block;
    width: 200px;
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Quicksand';
}
.card__service1-4 {
    display: inline-block;
    width: 200px;
    margin-left: 30px;
    margin-top: 20px;
    font-family: 'Quicksand';
}

.card__service1-3 i{
    color:#3bba9c;
    margin-bottom: 15px;
    font-size: 23px;
    transition: .5s;
}
.card__service1-3 i:hover{
    color: #c3c3c3;
    transition: .2s;
}

.card__service1-4 i {
    color:#3bba9c;
    font-size: 23px;
    transition: .5s;
    padding-bottom: 14px;
}
.card__service1-4 i:hover{
    color: #c3c3c3;
    transition: .2s;
}
.card__service1-3 h3{
    color: white;
    font-family: 'Quicksand';
    margin-bottom: 15px;
}
.card__service1-4 h3{
    color: white;
    font-family: 'Quicksand';
}
.card__service1-3 p {
    color: #c3c3c3;
}
.card__service1-4 p{
    color: #c3c3c3;
}
.card__img{
    height: 680px; 
    width: 500px;
    background-color: white;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
    transition: .2s;
    box-shadow: -10px 10px 20px #191919;
}
.card__img:hover{
    box-shadow: -20px 20px 20px #191919;
    transition: .2s;
}

.card__img__pic{
    object-fit: cover;
    height: 680px;
    width: 500px;
    transition: .5s;
}
.card2{
    height: 740px;
    background-color: #333333;
    width: 1080px;
    box-shadow: -10px 10px 50px black;
    margin:150px auto;
    transition: .2s;
}

.card2__img {
    width: 500px;
    height: 680px;
    background: white;
    margin-top: 30px;
    margin-left: 40px;
    float: left;
}

.card2__img img {
    width: 500px;
    height: 680px;
    object-fit: cover;
}

.card2__info {
    text-align: center;
    padding-top: 150px;
}

.card2__h2 {
    font-family: 'Ramabhadra';
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
}

.card2__p1 {
    color: #3bba9c;
    font-family: 'Quicksand', cursive;
    text-align: center;
    padding: 0px;
}

.card2__p2 {
    color: #c3c3c3;
    font-family: 'Quicksand';
    margin-top: 20px;
    width: 400px;
    display: inline-block;
}
.card2__icons {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 70px;
}
#html {
    transition: .5s;
}
#html:hover {
    color: #e44d26;
    transition: .5s;
    text-shadow: -5px 5px 10px #191919;;
}
#css {
    transition: .5s;
}
#css:hover{
    color: #039be5;
    transition: .5s;
    text-shadow: -5px 5px 10px #191919;
}
#js{
    transition: .5s;
}
#js:hover{
    color: #f0db4f;
    transition: .5s;
    text-shadow: -5px 5px 10px #191919;
}
.card2__alink{
    text-align: center;
    padding-top: 100px;
}
.card2__link {
    text-decoration: none;
    color: #3bba9c;
    text-transform: uppercase;
    font-family: 'Quicksand';
    transition: .5s;
    border: 1px solid #3bba9c;
    padding: 15px 50px;
}
.card2__link:hover {
    background-color: #3bba9c;
    color: white;
    transition: .5s;
}

.info-arrow {
    display: inline-block;
    width: 200px;
    margin-left: 155px;
    margin-top: 10px;
}

.info-arrow__p {
    font-family: "quicksand";
    color: #c3c3c3;
    text-align: center;
}
.info-arrow a {
    color: #3bba9c;
    text-align: center;
    display: block;
    font-size: 30px;
    transition: .2s;
}

.info-arrow a:hover {
    color: #c3c3c3;
    transition: .2s;
}

#card3__personalinfo{
    height: 740px;
    background-color: #3bba9c;
    width: 1080px;
    margin: 20px auto;
    box-shadow: -10px 10px 50px black;
    box-sizing: border-box;
}
.card3__personalinfo__h2 {
    color: #444;
    font-family: 'Ramabhadra';
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}
.card3__personalinfo__h3 {
    color: white;
    font-family: 'Quicksand';
    text-align: center;
    font-size: 30px;
}
.cajas{
    width: 900px;
    height: 240px;
    margin: 10px auto;
    text-align: center;
}
